/*shared styles*/
body{
    font-family: 'Open Sans', sans-serif;
}

.primary-color{
    color: orange;
}

.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-descrription{
    color: #757575;
    text-align: center;
    font-size: 18px;
}
/*nav releted styles*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

nav-title{
    color: #181818;
    font-weight: 800;
    font-size: 45px;
}

nav > ul{
    display: flex;
    align-items: center;  
}

nav li {
    list-style: none;
    margin-right: 51px;
}
nav a {
    text-decoration: none;
    color: #474747;
}

.btn-primary{
    border-radius: 5px ;
    background-color: orange; 
    border: 0;
    padding:15px 15px;
    color:white;
    font-size: 20px;
    font-weight: 700px;
}
/*header releated style*/

.header{
    background-color: white;
    background-image: url("images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;
}
.banner .profile-picture{
    width:500px;
}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin-top: 0px;
}
.banner-shawon{
    font-size: 85px;
    font-style: italic;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

/*main section styles*/

/* about section style*/

.about{
    padding: 130px;
    border-radius: 10px;
    background: #fdddc5;
    margin: 130px 0px;
}